body {
  font-family: Georgia, serif;
  margin: 0;
}
.header {
  padding: 40px;
  text-align: center;
  color: #949494;
  font-size: 30px;
}
.container{
	padding-left: 50px;
	padding-right: 50px;
}
.intro{
	font-family: system-ui;
	text-align:justify;
}
#map {
	position:relative;
	margin-top: 10px;
	height:400px;
	
}
